*,::before,::after {
  padding: 0;
  margin: 0;
}

nav{
  color: #fff;
  position: fixed;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
  border-bottom: 0.1875rem solid var(--white-color);
}

.navbar-nav > li > a:hover{
  border-bottom: 0.1875rem solid var(--white-color);
}