@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', sans-serif !important;
}


:root{
  --dark-color: #051334;
  --blue-color: #071C4D;
  --orange-color: #FF9E53;
  --white-color: #FFFFFF;

}


.toggle-icon{
  color: var(--white-color);
}

.navbar{
  background-color: var(--blue-color)!important;
  color: var(--white-color);
}

.navbar-brand{
  color: var(--white-color);
  font-family: 'Pacifico', cursive;
  font-size: 1.5rem !important;
  height: 3rem !important;
  max-width: 17.25px;
}

.nav-link, a {
  color: var(--white-color) !important;
  margin-left: 1rem;
}

